@import "./variable";

@font-face {
    font-family: $baseFont;
    src: url("./fonts/Gotham\ Book.otf") format("opentype");
}

html {
    font-size: $font-base-rem;
}

body {
    font-family: $baseFont;
    // color: $primaryText; // (Example)
    // background-color: $background; // (Example)
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: $baseFont;
}

.defaultBtn {
    background-color: $primaryBrandColor;
    color: #ffffff;
    border: none;
    transition: background-color 0.3s;
}

.defaultBtn:hover {
    background-color: $hoverColor;
    color: #ffffff;
}

.cancelBtn {
    background-color: #ffffff;
    color: $primaryBrandColor;
    border: solid 1px black;
}